*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
ul, button{
    padding: 0;
}
button:not(:disabled){
    cursor: pointer;
}
button, input{
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
body, ul, button{
    margin: 0;
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.wrapper{
    width: 992px;
    padding: 0 15px;
}
.tasks{
    border-radius: 30px;
    border: #BDB76B 5px solid;
    background-color: #FFEFD5;
    padding: 15px 15px;
}
.tasks__field{
    position: relative;
    width: 480px;
    height: 60px;
}
.tasks__input{
    padding: 0 15px;
    min-height: 100%;
    width: 100%;


    border-radius: 10px;
    background: #BDB76B;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #FFEFD5;
}
.tasks__input::placeholder{
    color: #FFEFD5;
}
.tasks__add{
    background-color: #FFEFD5;
   
    border-radius: 10px;
    width: 40px;
    height: 40px;


    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.tasks__add::after, .tasks__add::before{
    background-color: #BDB76B;
    border-radius: 4px;


    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);


    width: 30px;
    height: 4px;
}
.tasks__add::after{
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}


.tasks__list{
    transition: margin-top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tasks__list._margin{
    margin-top: 15px;
}
.tasks__link{
    padding: 10px;
    border-radius: 10px;
    background: #BDB76B;


    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tasks__link:not(:last-child){
    margin-bottom: 15px;
}
.tasks__link span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #FFEFD5;
}
.tasks__link._completed span{
    text-decoration: line-through;
}
.link-tasks__delete{
    background-color: #FFEFD5;
    border-radius: 10px;


    position: relative;
    min-width: 40px;
    height: 40px;
    margin-left: 10px;
}
.link-tasks__delete::after, .link-tasks__delete::before{
    background-color: #BDB76B;
    border-radius: 4px;


    content: "";
    position: absolute;
    left: 50%;
    top: 50%;


    width: 30px;
    height: 4px;
}
.link-tasks__delete::after{
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.link-tasks__delete::before{
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}